<main>
{{!Aba de Navegação------------------------------------------------------------------------------------------------------------------------------------------------------------------}}
<ul style="padding: 20px; background-color: rgb(177, 166, 50);" class="nav justify-content-end">
  <li class="nav-item">
    <a style="color: white;" class="nav-link" href="#oquefazemos"><b>O que fazemos?</b></a>
  </li>
    <li class="nav-item">
    <a style="color: white;" class="nav-link" href="#responsavel"><b>Para os Responsáveis</b></a>
  </li>
  <li class="nav-item">
    <a style="color: white;" class="nav-link" href="#motorista"><b>Para o Motorista</b></a>
  </li>
  <li class="nav-item">
    <a style="color: white;" class="nav-link" href="#sobrenos"><b>O que falam sobre nós?</b></a>
  </li>
</ul>

{{!Tela de Login---------------------------------------------------------------------------------------------------------------------------------------------------------------------}}
  <div style="background-color: rgb(255, 232, 29);">
   <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center" style="width: 800px; height: 400px; background-color:rgb(177, 166, 50)">
     <form style="width: 300px; height: 210px" action="/" method="post">
      <div class="form-group">
       <label for="usuario"><b>Usuário:</b></label>
       <input type="text" class="form-control" id="usuario" name="user" placeholder="Nome" required>
     </div>
     <p></p>
      <div class="form-group">
       <label for="senha"><b>Senha:</b></label>
       <input type="password" class="form-control" id="senha" name="password" placeholder="Senha" required>
      </div>
      <p></p>
       <div style="text-align: center">
        <button style="width: 80px; background-color: rgb(246, 217, 65)" type="submit" class="btn btn-warning">
          Entrar
        </button>
       </div> 
   </form>
  </div>
  </div>
 </div>

<div class="container justify-content-center">
<h1 style="margin: 80px";>
  <strong>Somos a ponte entre pais, escolas e transportadores, tornando o transporte escolar uma jornada segura e confiável para todos.</strong>
</h1>
</div>

<hr>

<div class="container justify-content-center">
<h1 id="oquefazemos" style="margin-left: 80px; margin-top: 80px";>
  <strong>O que <br>fazemos?</strong>
</h1>

<br>

<div style="margin-left: 70px; margin-bottom: 70px"; class="container justify-content-center">
  <div class="row">
    <div class="col">
      <p class="text-wrap"; style="width: 400px"><strong>Segurança na Busca e Entrega de Crianças em São Paulo</strong></p>
      <p></p>
      <p class="text-wrap"; style="width: 400px">Nossa empresa tem como objetivo primordial garantir a segurança das crianças durante todo o processo de busca e entrega em suas residências. Compreendemos a importância crítica desse serviço, especialmente após os incidentes do ano passado, nos quais crianças foram inadvertidamente deixadas presas nas vans de transporte devido a falhas humanas.</p>
    </div>
    <div class="col">
      <img src="https://www.devanpraescola.com.br/img/Site/Van.png" style="width: 452px; height: 257px";>
    </div>
  </div>
</div>
</div>

<br>

<hr>

<div class="container justify-content-center">
<h1 id="responsavel" style="margin-left: 80px; margin-top: 80px";>
  <strong>Para os Responsáveis</strong>
</h1>

<br>

<div style="margin-left: 70px; margin-bottom: 70px"; class="container justify-content-center">
  <div class="row">
    <div class="col">
      <p><strong>Tranquilidade e Confiança</strong></p>
      <p></p>
      <p class="text-wrap"; style="width: 400px">Saber que seus filhos estão sendo transportados com segurança e cuidado, proporciona aos pais uma tranquilidade e a confiança de que estão tomando todas as medidas necessárias para garantir o bem-estar de seus filhos.</p>
      <p></p>
      <p class="text-wrap"; style="width: 400px">Nosso aplicativo promove transparência total, fornecendo aos pais acesso fácil a informações detalhadas sobre todas as atividades relacionadas ao transporte escolar de seus filhos, desde o registro de presença até o monitoramento do trajeto.</p>
    </div>
    <div class="col">
      <img src="https://www.cmbh.mg.gov.br/sites/default/files/styles/2_colunas_desktop_teste/public/noticias_destaques/2021/05/escolas.jpg?itok=icbEm1DK&timestamp=1621289119" style="width: 457px; height: 260px";>
    </div>
  </div>
</div>
</div>

<br>

<hr>

<div class="container justify-content-center">
<h1 id="motorista" style="margin-left: 80px; margin-top: 80px";>
  <strong>Para o Motorista</strong>
</h1>

<br>

<div style="margin-left: 70px; margin-bottom: 70px"; class="container justify-content-center">
  <div class="row">
    <div class="col">
      <p><strong>Suporte e Reconhecimento</strong></p>
      <p></p>
      <p class="text-wrap"; style="width: 400px">Nossa empresa valoriza e apoia ativamente seus motoristas, fornecendo treinamento contínuo, suporte técnico e reconhecimento por seu trabalho árduo e comprometimento com a segurança e o bem-estar das crianças.</p>
      <p></p>
      <p class="text-wrap"; style="width: 400px">Com funcionalidades avançadas de planejamento de rotas e monitoramento, nosso aplicativo ajuda os motoristas a otimizar seu tempo e seus recursos, garantindo uma entrega eficiente e pontual das crianças em suas casas.</p>
    </div>
    <div class="col">
      <img src="https://sebrae.com.br/Sebrae/Portal%20Sebrae/Ideias%20de%20Negocio/Importer/Imagens/27-Motorista%20Transporte%20Escolar.png" style="width: 399px; height: 303px";>
    </div>
  </div>
</div>
</div>

<br>

<hr>

<div class="container justify-content-center">
<h1 id="sobrenos" style="margin: 80px";>
  <strong>O que falam <br>sobre nós?</strong>
</h1>
<p></p>

{{!Carrosel---------------------------------------------------------------------------------------------------------------------------------------------------------------------------}}

<p></p>

<div style="margin-left: 80px; margin-right: 80px";  id="carouselExample" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-d-flex">
  <div class="row">
    <div class="col">
      <div style="padding: 50px; height: 400px;" class="card">
        <img src="https://cdn.icon-icons.com/icons2/3251/PNG/512/person_circle_regular_icon_203391.png" class="card-img-top" style="width: 80px; height: 80px";>
          <div class="card-body">
            <h5 class="card-title">João - Responsável</h5>
            <p></p>
            <p class="card-text">O uso do site é bem simples e me passa tranquilidade saber que meu filho chegou na escola.</p>
          </div>
      </div>
    </div>
    <div class="col">
      <div style="padding: 50px; height: 400px;" class="card">
        <img src="https://cdn.icon-icons.com/icons2/3251/PNG/512/person_circle_regular_icon_203391.png" class="card-img-top" style="width: 80px; height: 80px";>
          <div class="card-body">
            <h5 class="card-title">Nome</h5>
            <p></p>
            <p class="card-text">Opinião sobre o nossa página/aplicação</p>
          </div>
      </div>
    </div>
  </div>
    </div>
  </div>  
    <div class="carousel-item">
      <div class="container-d-flex">
  <div class="row">
    <div class="col">
      <div style="padding: 50px; height: 400px;" class="card">
        <img src="https://cdn.icon-icons.com/icons2/3251/PNG/512/person_circle_regular_icon_203391.png" class="card-img-top" style="width: 80px; height: 80px";>
          <div class="card-body">
            <h5 class="card-title">Nome</h5>
            <p></p>
            <p class="card-text">Opinião sobre o nossa página/aplicação</p>
          </div>
      </div>
    </div>
    <div class="col">
      <div style="padding: 50px; height: 400px;" class="card">
        <img src="https://cdn.icon-icons.com/icons2/3251/PNG/512/person_circle_regular_icon_203391.png" class="card-img-top" style="width: 80px; height: 80px";>
          <div class="card-body">
            <h5 class="card-title">Nome</h5>
            <p></p>
            <p class="card-text">Opinião sobre o nossa página/aplicação</p>
          </div>
      </div>
    </div>
  </div>
    </div>
 </div> 
  <button style="width: 60px;" class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button style="width: 60px;" class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<p></p>

{{!Acordeão--------------------------------------------------------------------------------------------------------------------------------------------------------------------------}}

<div class="accordion" id="accordionExample" style="margin-left: 80px; margin-right: 80px; margin-bottom: 80px;">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Como usar
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      A plataforma em sí é bem simples, basta inserir as suas informações de login no inicio da página e acessar, cada tipo de usuário possui opções diferentes, mas no geral a plataforma é bem intuitiva e facil de usar.
      </div>
    </div>
  </div>

  <p></p>

  <div class="accordion-item border">
    <h2 style="border-top: 1px;" class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Como funciona para profissionais
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Após acessar a plataforma, os membros do TEG terão acesso a lista de registro de chegada/saída dos alunos, que vai ser preenchida de acordo com a leitura do crachá de cada aluno, utilizando o leitor de QRcode nativo da plataforma.
      </div>
    </div>
  </div>

  <p></p>

  <div class="accordion-item border">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       Como funciona para os pais
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Após fazerem o acesso na plataforma, os pais vão ter a opção de selecionar uma data, que vai mostrar os registros de chegada/saída do aluno(a) daquele dia.
      </div>
    </div>
  </div>
  
  <p></p>

    <div class="accordion-item border">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Como funciona para a escola
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Texto
      </div>
    </div>
  </div>
</div>
</div>

<p></p>

</main>