{{> header}}
<div id="app">
<ul class="nav nav-tabs">
  <li :class="[standard ,{active: showCreate()} ]">
    <a class="nav-link"  aria-current="page"  @click="updateTab(0)">Registrar ponto</a>
  </li>
  <li :class="[standard, {active: showList()} ]">
    <a class="nav-link"  @click="updateTab(1)">Ver registros</a>
</ul>
    <div class="container" v-if="selectedTab == 0">
        {{!-- <form  action="/users" method="post">
            <div class="form-group">
                <label for="rank">Rank:</label>
                <select v-model="optionRank" class="form-control" id="rank" name="rank">
                    <option value="1">Aluno</option>
                    <option value="2">Responsável</option>
                    <option value="3">Guarda</option>
                    <option value="4">Administrador</option>
                </select>
            </div>
            <div class="form-group">
                <label for="usuario">Usuário:</label>
                <input type="text" class="form-control" id="usuario" name="usuario">
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" id="senha" name="senha">
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome">
            </div>
            <div v-if="optionRank == 1" class="form-group" >
                <label for="responsavel">Responsável:</label>
                <select v-model="responsavel" class="form-control" id="rank" name="rank">
                    {{#each pageInfo.listParents}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group" >
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" name="telefone">
            </div>
            <div class="form-group" >
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form> --}}
    </div>
</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                message: 'Olá, Vue.js!',
                optionRank:1,
                selectedTab:0,
                active: 'active',
                standard:'nav-item'
            }
        },
  methods: {
    updateTab(newValue) {
      // Atualiza o valor da variável com o valor passado como argumento
      this.selectedTab = newValue;
    },
    showList(){
        return this.optionRank == 1;
    },
    showCreate() {
        return this.optionRank == 0;
    }
  }
    });

    app.mount('#app');
</script>